
<%
  book = nil if book.nil?
%>

<% if book && !book.categories.empty? %>
  <% book.categories.order('category_id ASC').each do |category| %>
    <span class = 'category-label'><%= category.label %></span>
  <% end %>
<% end %>


